@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://unpkg.com/material-components-web@0.8.0/dist/material-components-web.min.css');

.mdc-components {
    box-sizing: border-box;
    display: flex;
    font-family: Roboto;
    margin: 64px auto;
    width: 1664px;
}

.mdc-components__section {
    display: flex;
}

.mdc-components__column {
    display: flex;
    height: 664px;
    flex-direction: column;
    margin: 0 8px;
    width: 400px;
}

.mdc-components .flex {
    flex: 1;
    box-sizing: border-box;
}

.mdc-components p {
    color: #616161;
    font-size: 14px;
    font-weight: bold;
}

.mdc-component > p {
    color: #616161;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 0;
}

.mdc-component__section {
    align-items: center;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    height: 400px;
    position: relative;
    overflow: hidden;
    width: 400px;
}

.mdc-component__section--size-narrow {
    height: 152px;
}

.mdc-component__section__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.mdc-component__section__content__frame {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.mdc-component__section--size-full {
    height: 620px;
}

.mdc-component__containers {
    align-items: flex-start;
    display: flex;
    height: 292px;
    flex-direction: row;
}

.mdc-component__containers__primary__only p {
    display: none;
}

.mdc-component__containers__primary, .mdc-component__containers__secondary {
    display: flex;
    align-items: center;
}

.mdc-component__containers__primary > p, .mdc-component__containers__secondary > p {
    color: #616161;
    font-size: 11px;
    font-weight: bold;
}

.mdc-component__containers__primary__only {
    margin-top: 40px;
}

.mdc-component__containers__secondary {
    margin-left: 80px;
}

.mdc-component__containers__primary, .mdc-component__containers__secondary {
    flex-direction: column;
}

.mdc-component__containers__primary > p, .mdc-component__containers__secondary > p {
    margin: 25px 0 15px;
}

.mdc-component__containers__primary > *[class^="mdc-"]:not(:nth-child(2)), .mdc-component__containers__secondary > *[class^="mdc-"]:not(:nth-child(2)) {
    margin-top: 40px;
}

.mdc-component__containers[dir-horizontal] {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mdc-component__containers[dir-horizontal] .mdc-component__containers__primary__only {
    margin-top: 0;
}

.mdc-component__containers[dir-horizontal] .mdc-component__containers__secondary {
    margin-left: 0;
    margin-top: 12px;
}

.mdc-component__containers[dir-horizontal] .mdc-component__containers__primary, .mdc-component__containers[dir-horizontal] .mdc-component__containers__secondary {
    flex-direction: row;
}

.mdc-component__containers[dir-horizontal] .mdc-component__containers__primary > p, .mdc-component__containers[dir-horizontal] .mdc-component__containers__secondary > p {
    margin: 0 16px 0 0;
    text-align: right;
    width: 60px;
}

.mdc-component__containers[dir-horizontal] .mdc-component__containers__primary > *[class^="mdc-"], .mdc-component__containers[dir-horizontal] .mdc-component__containers__secondary > *[class^="mdc-"] {
    margin-top: 0;
    margin-right: 60px;
}

*, :after, :before {
    box-sizing: inherit;
}

.mdc-component__buttons .mdc-component__containers__primary .mdc-button,
.mdc-component__buttons .mdc-component__containers__primary .mdc-fab {
    background-color: #F44336;
    color: #000000;
}

.mdc-component__buttons .mdc-component__containers__primary .mdc-button--plain,
.mdc-component__buttons .mdc-component__containers__primary .mdc-fab--plain {
    background-color: transparent;
    color: #F44336;
}

.mdc-component__buttons .mdc-component__containers__secondary .mdc-button,
.mdc-component__buttons .mdc-component__containers__secondary .mdc-fab {
    background-color: #0288D1;
    color: #000000;
}

.mdc-component__buttons .mdc-component__containers__secondary .mdc-button--plain,
.mdc-component__buttons .mdc-component__containers__secondary .mdc-fab--plain {
    background-color: transparent;
    color: #0288D1;
}

.mdc-component__buttons .mdc-component__containers__primary .mdc-button--raised.mdc-ripple-upgraded::before,
.mdc-component__buttons .mdc-component__containers__primary .mdc-button--raised.mdc-ripple-upgraded::after {
    background-color: rgba(0, 0, 0, 0.06);
}

@media all and (max-width: 1712px) {
    .mdc-components {
        margin: 32px auto;
        width: 832px;
    }

    .mdc-components__section {
        flex-direction: column;
    }

    .mdc-components__column {
        margin-bottom: 64px;
    }
}

@media all and (max-width: 880px) {
    .mdc-components {
        flex-direction: column;
        width: 416px;
    }
}

.mdc-component__buttons .mdc-component__containers__primary .mdc-button--plain.mdc-ripple-upgraded::before,
.mdc-component__buttons .mdc-component__containers__primary .mdc-button--plain.mdc-ripple-upgraded::after {
    background-color: rgba(244, 67, 54, 0.06);
}

.mdc-component__buttons .mdc-component__containers__primary .mdc-fab.mdc-ripple-upgraded::after {
    background-color: rgba(0, 0, 0, 0.16);
}

.mdc-component__buttons .mdc-component__containers__primary .mdc-fab--plain.mdc-ripple-upgraded::after {
    background-color: rgba(244, 67, 54, 0.16);
}

.mdc-component__buttons .mdc-component__containers__secondary .mdc-button--raised.mdc-ripple-upgraded::before,
.mdc-component__buttons .mdc-component__containers__secondary .mdc-button--raised.mdc-ripple-upgraded::after {
    background-color: rgba(0, 0, 0, 0.06);
}

.mdc-component__buttons .mdc-component__containers__secondary .mdc-button--plain.mdc-ripple-upgraded::before,
.mdc-component__buttons .mdc-component__containers__secondary .mdc-button--plain.mdc-ripple-upgraded::after {
    background-color: rgba(2, 136, 209, 0.06);
}

.mdc-component__buttons .mdc-component__containers__secondary .mdc-fab.mdc-ripple-upgraded::after {
    background-color: rgba(0, 0, 0, 0.16);
}

.mdc-component__buttons .mdc-component__containers__secondary .mdc-fab--plain.mdc-ripple-upgraded::after {
    background-color: rgba(2, 136, 209, 0.16);
}