.chat {
  width: 320px;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
}

.chat-header {
  background: #42a7a1;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.chat-header__name {
  color: #fff;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.3);
}
