.files {
  display: flex;
  align-items: center;
}

#chat-controls-buttons__upload {
  display: none;
}

.chat-controls-buttons__attach {
  color: #999;
  cursor: pointer;
  margin-left: 17px;
  display: flex;
  align-items: center;
}
