@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #c5ddeb;
  font: 14px/20px "Lato", Arial, sans-serif;
  margin: 50px 0 20px 0;
}
